- extends 'base.haml'
- load i18n

- block breadcrumbs
    %a{href: ''}
        {% trans "Invites" %}

- block caption
    {% trans "Invites" %}

- block content

    {% trans "Here presented invites to games, that you received." %}
    %br
    %br
    %h3
        {% trans "New invites" %}
    %br
    - if new_invites
        %table.table
            %thead
                %tr
                    %th{width: '40%'}
                        {% trans "game" %}
                    %th
                        {% trans "role" %}
                    %th
                        {% trans "sender"%}
                    %th
                        {% trans "Actions" %}
            %tbody
                - for invite in new_invites
                    %tr
                        %td
                            %a{href: '{{ invite.role.variation.game.get_absolute_url }}'}
                                = invite.role.variation.game
                        %td
                            = invite.role
                        %td
                            %a{href: '{{ invite.sender.get_absolute_url }}'}
                                = invite.sender
                            %br
                            %small
                                = invite.create_time
                        %td
                            %a{href: '{% url "profile:invite_accept" invite.id %}'}
                                {% trans "Accept" %}
                            %br
                            %a{href: '{% url "profile:invite_decline" invite.id %}'}
                                {% trans "Decline" %}
    - else
        {% trans "You have no new invites." %}
        %br
    %br
    %h3
        {% trans "Old invites" %}
    %br
    - if old_invites
        %table.table
            %thead
                %tr
                    %th{width: '40%'}
                        {% trans "game" %}
                    %th
                        {% trans "role" %}
                    %th
                        {% trans "sender"%}
                    %th
                        {% trans "status" %}
            %tbody
                - for invite in old_invites
                    %tr
                        %td
                            %a{href: '{{ invite.role.variation.game.get_absolute_url }}'}
                                = invite.role.variation.game
                        %td
                            = invite.role
                        %td
                            %a{href: '{{ invite.sender.get_absolute_url }}'}
                                = invite.sender
                            %br
                            %small
                                = invite.create_time
                        %td
                            = invite.status_as_text
    - else
        {% trans "You have no old invites." %}
        %br
    %br
    %br