- extends 'base.haml'
- load i18n

- block extra_scripts
    %script{type: 'text/javascript', src: '{{ STATIC_URL }}ajaxuploader/js/fileuploader.js'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}ajaxuploader/css/fileuploader.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '{{ STATIC_URL }}tulius/css/tulius-players.css'}

- block breadcrumbs
    %li
        .divider
        %a{href: ''}
            {% trans "Personal cabinet" %}
                
- block caption
    {% trans "Personal cabinet" %}
    
- block content
    .profile-user
        .profile-info
            %table.player-info-table
                    %tr
                        %td
                            - with player=request.user
                                - include 'players/snippets/avatar.haml'
                        %td
                            %h3
                                = request.user.username
                            - with player=request.user
                                - include 'players/snippets/stars.haml'
            .wrapper.controls{id: 'file-uploader'}
                #file-uploader-button.button
                    %script{type: 'text/javascript'}
                        - include 'profile/avatar_upload.html'

            - if rankform
                                %form{method: 'POST'}
                                    - csrf_token
                                    = rankform.management_form
                                    {% trans "Rank:" %}
                                    = rankform.rank
            - else
                - if request.user.rank
                    %p
                        = request.user.rank
                        %br
            %p
                - if request.user.vk_profile
                    %a{href: 'https://vk.com/{{ request.user.vk_profile.domain }}'}
                        VK: {{ request.user.vk_profile.domain }}
                - else
                    %a{href: "{% url 'vk:auth_oauth' %}"}
                        {% trans "Assign VK profile" %}
            %p
                {% trans "Registred:" %}
                = request.user.date_joined
        .profile-stats
                - with player=request.user
                    - include "players/statistics.haml"
                - if played_roles
                    - include "profile/snippets/played_table.haml"
                    - if played_roles.count > 5
                        %a{href: '{% url "players:profile_played" %}'}
                            {% trans "All played games and characters" %}
